<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Nueva Experiencia
    </button>
  </div>
  <div class="col-log-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let xp of experiencia">
          <td>{{ xp.titulo }}</td>
          <td>{{ xp.descripcion }}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editexp/{{ xp.id }}">
              <i class="bi bi-pencil-fill"></i>Editar
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(xp.id)">
              <i class="bi bi-trash3"></i>Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
